* {
    margin: 0;
    padding: 0;     
    
   }

.header {
    width: 90%;
    padding-left: 9%;  
    max-width: 90%;
    
      
}

body {
    background-image: url("../images/home1.png");
    background-repeat: no-repeat;
    background-size: cover;       
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    max-width: 100%;
    letter-spacing: 0.5px;
    margin: 0;

}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 20px;
    font-style: bold;
    font-family: 'Libre Franklin', sans-serif;
    width: 100%;
}

.top-nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 0px;
    transition: 0.5s;
}

.top-nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-style: 700;
    transition: 0.7s;
    margin-bottom: 1px;
}

.top-nav ul li a:hover {
    color: #3c2bff;
}

.container {
    display: flex;        
    height: auto;  
    max-width: 90%;
}

.container2 { 
     display: flex; 
     flex-direction: column; 
     max-width: 800px;
     }

#start {
    --color:  #55acff;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    font-size: 20px;   
    border: 1px solid;
    font-family: 'Pangolin';
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin-bottom: 70px;
}

#start::before,
#start::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

#start::before {
    top: -1em;
    left: -1em;
}

#start::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

#start:hover::before,
#start:hover::after {
    height: 410px;
    width: 410px;
}

#start:hover {
    color: rgb(10, 25, 30);
}

#start:active {
    filter: brightness(.8);
}

#button{
     margin-top: 130px;
     margin-left: 300px;
    }
    
.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    background: linear-gradient(rgb(216, 16, 16), rgb(56, 139, 167), rgb(184, 132, 132), rgb(207, 7, 7));
    background-size: 100% 500%;
    background-position: 0 40%;
    font-family: 'aBlackLives';
    z-index: 1;
}



.side-nav .logo {
    width: 60px;
    cursor: pointer;
}

.side-nav a {
    text-decoration: none;
    color: #fff;
    transform: rotate(-90deg) translateX(50%);
    width: max-content;    
    font-size: 50px;
    padding-left: 100px;
}

span {
    color: #55acff;
}
.text-box {
   margin-top: 100px;
    font-size: 18px;
    color: white;
    margin-left: 80px;  
    
}

.text-box h1  {
font-weight: 500;    
    font-size: 4px;
    max-width: 550px;
    line-height: 95px;
    margin-bottom: 10px;
}

.text-box p {
    text-align: center;
    color: white;
    font-family: 'Libre Franklin';
}

button a {
    text-decoration: none;
    color: #00A97F;
    transition: 0.7s;
}

button a:hover {
    color: black;
}

.paragraph {
    margin-bottom: 10px;
}

#image {    
    width: 350px;
    height: 550px; 
    margin-left: 170px;
    margin-bottom: 40px;
    margin-top: 0; 
}


#image img {
    width: 350px;
    height: 550px;     
}

#title{
    font-size: 80px;
    font-weight: bold;
    font-family: 'aBlackLives';
}

@font-face { 
    font-family: 'aBlackLives'; 
    src: url('../fonts/aBlackLives.ttf') format('truetype'); 
     }


     
     #about {
            margin-top: 80px;
            padding: 50px;
            text-align: center;
            width: 90%;
        }
        
        #about h2 {
            font-size: 20px;
            color: white;
            margin-bottom: 20px;
        }
        
        #about p {
            font-size: 14px;
            color: white;
            margin-bottom: 30px;
        }
        
   #about .features {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#about .feature {           
    flex-basis: 33.33%;
    padding: 0 20px;   
}

#about .feature img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 20px;
    border-radius: 3px;
}

#about .feature h3 {
    font-size: 20px;
    color: rgb(140, 173, 220);
    margin-bottom: 10px;
}

#about .feature p {
    font-size: 13px;
    color: white;
}

#contacts {
    padding-top: 80px;  
    padding-bottom: 70px;
}

.contact-item p {
    margin-top: 10px;
}


#contacts h3 {
    color: white;
}

        
        #mission-vision {
            background-color: #ffffff;
            padding: 50px;
            text-align: center;
            width: 90%;
            border-radius: 10px;
        }
        
        #mission-vision h2 {
            font-size: 20px;
            color: #333333;
            margin-bottom: 20px;
        }
        
        #mission-vision p {
            margin-top: 15px;
            font-size: 13px;
            color: #666666;
            margin-bottom: 30px;
        }
        
#faqs {
    padding-top: 100px;

}

        .faq-button {
            background-color: #eee;
            color: #333;
            width: 90%;
            border: none;
            text-align: left;
            outline: none;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
          }
      
          .faq-button:hover {
            background-color: #ddd;
          }
      
          .faq-item .content {
            display: none;
            padding: 10px;
          }

          .faq-item {
            border-radius: 10px;
          }

          footer {
            width: 100% ;
            padding: 20px;
            padding-bottom: 80px;
            text-align: center;
            background-color: #141515;
            color: white;
            font-size: 14px;
            font-family: 'Libre Franklin', sans-serif;
            font-weight: 700;
        }
        
        .footer-container {
            max-width: 100%;
            margin: 0 ;
        }
        
        .footer-container p {
            margin: 0;
        }
        
        
        
.imglogo {
    width: 500px;
    height: auto;
}

.video-wrapper {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 20px;
  
}

video {
  display: inline-block;
  width: 350px;
  height:auto;
}

.developer{
  padding-bottom: 90px;
  padding-top: 90px;
}


.members {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 25%; 
  text-align: center;
  margin-bottom: 15px;  
}

.item img {
  width: 53%;
  height: auto;
}

.item h4 {
  margin-top: 10px;
  color: white;
}

#devs {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

@media (max-width: 748px) {
 .side-nav {
    width: 40px;
    height: 100%;
    background-size: 100% 500%;
    background-position: 0 40%;    
    z-index: 1;
    position: fixed;
    padding: 25px 0;
    
}



.side-nav .logo {
    width: 30px;
    cursor: pointer;
    right: 0;       
}

.side-nav a {
    text-decoration: none;
    width: max-content;    
    font-size: 35px;
    padding-left: 60px;   
}

.top-nav {
    padding: 7px;
    width: 90%;
    margin-left: 10px;
    }

.top-nav ul li {
    margin-left: 5px;       
    margin-right: 5px;
}

    
.top-nav ul li a{
    font-size: 12px;
}
    
.text-box {
   margin-top: 135px;
    font-size: 14px;
    color: white;
    margin-left: 15px;  
    width: 250px;
    z-index: 9;
}

.text-box p {    
    color: white;
    margin-right: 40px;
    font-family: 'Libre Franklin';
}

#button {
     margin-top: 250px;
     margin-left: 110px;
     z-index: 99;
    }
    
#image {        
    right: 0;
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 17px;    
    position: absolute; 
    z-index: 1;    
    width: 200px;
    height: 440px;
    overflow-x: hidden;
    
}

#image img {
    width: 230px;
    height: 440px;     
}


.imglogo {
    width: 240px;
    height: auto;
    
}

#about {
            margin-top: 70px;
            padding: 11px;
            text-align: center;
            width: 93%;         
            padding-right: 9px;  
            padding-left: 16px;
            
        }
        
        #about h2 {
            font-size: 15px;
            color: white;
            margin-bottom: 20px;
        }
        
        #about p {
            font-size: 12px;
            color: white;
            margin-bottom: 30px;
        }
        
   



      
   #about .features {
    display: flex;
    justify-content: center;    
    margin-bottom: 50px;
    
}

#about .feature {              
    padding: 0 5px;   
    font-size: 10px;
    top: 0;
    margin-top: 0;
}

#about .feature img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 20px;
    border-radius: 3px;
}

#about .feature h3 {
    font-size: 20px;
    color: rgb(140, 173, 220);
    margin-bottom: 10px;
}

#about .feature p {
    font-size: 10px;
    color: white;
    text-align: justify;
}

video {
  display: inline-block;
  width: 287px;
  height:auto;
}

 #mission-vision {           
            
            padding: 17px;         
            width: 270px;            
        }
        
        #mission-vision h2 {
            font-size: 20px;
            color: black;
            margin-bottom: 20px;
        }
        
        #mission-vision p {
            margin-top: 15px;
            font-size: 13px;
            color: #666666;
            margin-bottom: 10px;
        }
        
footer {
            width:87% ;
            padding: 20px;
            padding-bottom: 35px;
            font-size: 14px;         
        }
        
#faqs {
    padding-top: 50px;
}

#contacts {
    padding-top: 30px;  
    padding-bottom: 25px;
}

.members {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .item { 
    margin: 20px;
    width: 100px;
    font-size: 14px;
    
  }

 .item img{
     border-radius: 8px;
     width: 100px; 
     height: auto;   
 }
 
 .item h4{
     text-align: center;
 }
 
 #devs {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    
    }
    
}

